 Tiffany Andrews arrived early for her appointment with Miss Elizabeth Jones, Principle of Hedley Coleville Academy. She had only been to the office of the exclusive school once before, when she had enrolled her two children, Amber who was 12 and Derrick 10. 

The principle's secretary was busy, efficiently updating files and answering the telephone. The name on her desk was Anna Lin. Tiffany had met her more than once and had often seen Anna in the supermarket where they both shopped. She was a petite Asian woman, probably in her late 30's to early 40's. With long black hair and an elegant shape she carried with her an aura of sensuality that was enhanced by full lips, the kind, if you were a man, you could get lost in while kissing. Tiffany couldn't put her finger on why she thought of her this way but lately she had been experiencing conflicting feelings that were confusing to her.

Tiffany met her husband when he was lecturing at her college where she was studying psychology with the intention of going on to graduate school and becoming a professional. Claude owned Andrews Psychological Clinics, a group of clinics in the metropolitan area and was noted in his field. She was a senior, aged 21, when they met, approaching him after his lecture. She wanting to pursue one of the points he had made. What seemed like a simple question started an intense conversation that led to an exciting romance that culminated in Claude divorcing his wife and marrying the young woman just fifteen months after they had talked in the hall.

Her life with Claude Andrews was idyllic. He was successful, well regarded by his peers and devastatingly handsome. He took Tiffany to place she hadn't considered she would see until she was a much older woman. She graduated and started graduate school but withdrew prior to their marriage and never continued. Within three years she had two children, a girl and a boy, and when they were old enough, she enrolled them in the exclusive Hedley Coleville Academy. To Tiffany, life seemed too good to be true and was, when earlier in the year when Claude suffered a severe heart attack while playing tennis and died on the operating table. When it came time to settle Claude's affairs Tiffany was lost; she was 38, adrift on an uncharted sea.

Claude's dad, Alan was very helpful to her but in sorting out the pieces but found that Claude had managed his money very poorly and had been living beyond his means. He pointed out that as things stood Tiffany would have to pursue life much less ostentatiously, which required that she sell the elegant house. The money from the house would be able to support Tiffany and the children on a more moderate basis but the budget would not sustain the luxury of the expensive school thus, the appointment with Miss Jones.

The quality of education the children were getting at Hedley Coleville was, for Tiffany, too important to give up without doing everything in her power to maintain. Both children had become so advanced in their knowledge at Hedley Coleville and Tiffany was desperate to keep them enrolled that she asked for the appointment with Miss Jones to see what could be done. Perhaps, she thought, she could offer, as a volunteer, her services as a teacher's aid. 

Elizabeth Jones ran the school with the reputation of being a stern taskmistress and had the reputation of being an outstanding educator. While Tiffany had only talked with her a couple of times she had seen her make presentations to women's organizations and was in awe of the woman, who carried herself with such elegance and command. She was in the office to make a plea to Miss Jones to see if there was anyway the children could remain at the school and was a bundle of nerves.

The phone on Anna Linn's desk rang. She picked it up, listened and said to the person on the other end of the line, "Yes, I understand." She listened with pursed lips while looking at Tiffany and a fleeting smile curved her mouth then stole away. Her eyes assessed Tiffany Andrews in a way that made Tiffany feel like she was being rated. It was as if Anna was looking at a watermelon and getting ready to thump it. The elegant Asian smiled as if she had found the perfect melon for the party and said, "Miss Jones will see you now Mrs. Andrews." 

Anna watched the woman stand and smooth her fawn colored skirt with her hands. She shook her head to adjust her shoulder length dark brown hair and brushed a strand away from her eyes. Tiffany stood about 5'10"; she had a well-defined, curvy figure that was highlighted by large breasts, probably DD. Her nipples, through her white, long sleeved pullover were visible; some would call them almond sized. Her complexion was light olive and she had sultry doe eyes. 

As Tiffany walked through the door she felt like she was on display. Still sensing Anna Linn's eyes on her she felt invaded then somewhat aroused. She had always been a man's woman and didn't understand the feeling she had just experienced. But, since Claude's death, so many things had been confusing to her. As she walked from one office to another she had been passed from one set of eyes to the other. 

The woman on the other side of the desk stood. She had so much poise that she could have been a blonde haired; blue-eyed Greek goddess of old, dressed in a flowing white robe. The woman was wearing a business suit, gray pinstriped slacks (the jacket was hanging on a hanger on the wooden clothes rack) and her blouse was pleated in front with short-cuffed sleeves. To Tiffany she appeared to be approximately her age. She was about the same height as Tiffany, perhaps an inch or so shorter, maybe 5'8 or 9. Her hips were curvy but not overwhelming so. They had tightness about them that suggested consistent workouts. Her breasts were not as large as Tiffany's, probably 36D, and the way her nipples protruded it was clear she wore a sheer net bra.

Offering her hand she said, "It's good to meet you again Mrs. Andrews." She shook Tiffany's hand firmly and held it a bit longer than was comfortable. At the same time her eyes moved quickly down and up Tiffany's body and fixed on her eyes before her hand released its grip.

"I'm surprised you remembered me Miss Jones; we've only talked twice in the last three years." The principal was maintaining firm eye contact, as was she, but Tiffany had the feeling that her peripheral vision was centered on her nipples and she wasn't able to stop the warm sensation that settled in her saddle.

"Please call me Elizabeth, Mrs. Andrews. May I call you Tiffany?" Tiffany nodded. "In answer to your question Tiffany, even though we have interfaced yes, infrequently, you are the kind of woman who stands out in a crowd." She held eye contact and said, "Forgive me, it has been such a long time but let me express my regrets at the loss of your husband. He seemed like such a vibrant man." She gestured to the seat in front of the desk and said, "Please have a seat Tiffany." Tiffany sat down and Elizabeth moved behind the desk and sat.

She picked up two manila folders that were on the desk. "If you're concerned about Melinda or Derrick, they are excellent students...model students I would say."

"Thank you Miss (Elizabeth silently mouthed her name) Elizabeth. Their performance is not why I asked for the appointment." She put her hands on the desk, flattened her palms together then nervously drummed her fingers. "I...I have a much more difficult subject to talk with you about." Elizabeth raised one eyebrow.

"You seem upset Tiffany," she said. "Please feel free to talk plainly with me."

Tiffany cleared her throat. "Sometimes circumstances present themselves in away that take one completely off guard." She cleared her voice again.

"You're referring to your husbands passing?" Elizabeth reached her right hand across the desk and patted Tiffany's left. "I can imagine how devastating that must be for a young woman like you." Her lips curved a sympathetic smile and she patted Tiffany's hand and drew hers away.

"Y...yes...that was a shock but there's more and I don't quite know how to begin."

Elizabeth pushed the button on the intercom. "Anna, would you please bring in a carafe of water and a glass?" Looking into Tiffany's eyes she said, "The best way to start a difficult subject, Tiffany, is from the beginning."

There was a six-person conference table in the alcove to the right of the desk. Elizabeth stood. Maybe it would be more comfortable have this discussion at the table; it would be much less formal." She rounded the desk, took Tiffany's hand and led her to the table, pulling out chair to the left of the end. At the same time Anna Linn came in carrying a polished chrome tray with a carafe and three glasses. Elizabeth took the tray from Anna and the two women's eyes spoke something that caused Anna's nostrils to flare. "Thank you Anna," she said dismissing her. The secretary left the room and Elizabeth set the tray on the table, poured two glasses of water, set one in front of Tiffany and one in front of the seat on the end. She sat down, looked at Tiffany and said, "Now, tell me what's on your heart dear."

Tiffany sipped from the glass, set it down and began. She told of how pleased she was with Hedley Coleville School, how happy both she and Claude had been to be able to even enroll the children. She told of the devastation of Claude's death and how, thru her father-in-law she learned of his financial condition...how she sold the house and had scaled down her lifestyle, all with the goal of keeping the children at Hedley Coleville. "But, even after that..."

"You're still not able to afford the tuition?"

"Yes...I mean no...I mean I can afford to keep one here but not both." Tears sparkled in the corners of her eyes. "I feel like Solomon telling the two women that he would cut the two children in half..."

Elizabeth reached for a box of tissues in the middle of the table and eased it in front of Tiffany who took a tissue, wiped her eyes and blew her nose. Elizabeth reached a waste can and held it for Tiffany to drop the tissue. "I feel like such a fool, acting like this Miss (Elizabeth mouthed her name)...Elizabeth." 

Elizabeth patted her hand and said, "Tiffany, let's not assume the worst. I think we can work this out."

Tiffany felt a surge of relief and offered; "I would be honored to work as a teacher's aid...I graduated with honors with a major in psychology. I'm sure I would be very good with the children and..." 

Elizabeth fixed Tiffany's eyes, took both hands and interrupted, "My dear, sweet Tiffany, that is entirely out of the question; we are overstaffed as it is." She chuckled and squeezed Tiff's hands. "I had heard about your dilemma from your father-in-law and have had a good deal of time to consider the possibilities. I'm sure we can work out an acceptable solution."

"Oh, Elizabeth," Tiffany enthused, "I can't believe you are saying this...I would do anything?"

"Anything?" Elizabeth interrupted.

"Yes, anything."

Elizabeth got up, walked behind Tiffany's chair and began to massage Tiffany's shoulders. "You are so tense my dear lady...relax...we can make better sense if you are not so uptight."

An alarm went off in Tiff's brain. She couldn't be suggesting what I'm thinking.

Elizabeth continued her massage, talking while she kneaded Tiffany's tight shoulders. "We have had other circumstances, Tiffany, where mothers have fallen into difficulty and we've been able to work it out." Her fingers were gently caressing the side of Tiff's neck, which made the vulnerable woman begin to relax. "There is a sacrifice on the part of the mother...there has to be, you know but...to a person, each woman has accepted the challenge and is happily participating...some still participate, even after their children have graduated." 

Tiff felt like she was being hypnotized. Elizabeth's fingers deftly caressed behind her ears then on the rims. Tiffany had been naïve when she married Claude, the only sex she had had with boys was heavy petting. It seemed wrong what Elizabeth was doing. But she was making her feel so good. She flashed back to the night her roommate was upset, crying so uncontrollably. She had hugged her, had consoled her until the girl kissed her. She loved the kiss but thought it wrong, did not pursue what her nature said she should. She remembered masturbating and having a thrilling silent orgasm before going to sleep that night.

Elizabeth's fingers were massaging her temples, scratching along her hairline. "You have even met one of the women who have enjoyed their...uh...sacrifice." Her hands were working the cheekbones. "Each one is a beautiful woman...just as you are Tiffany." Her hands smoothed over her shoulders then up and down the sides of her arms. 

She was warm to the core of her body and she thought, the children will have an excellent education then she thought of how the kiss of her college roommate felt and she remember how, so many times, she had masturbated thinking of her. 

"You do know how beautiful you are, don't you Tiffany?" Her fingers were caressing her collarbones. Tiffany nodded. "Very, very beautiful my sweet." Tiffany felt Elizabeth's soft, warm lips on the back of her neck. "Would you be surprised if I told you Anna is the woman who still does my bidding.? Tiffany thought of Anna Lin's full lips, the way she was looking at her. She had a lump in her throat and felt her breathing increase. She shook her head no. "She is beautiful too, don't you think Tiffany?" Tiffany felt Elizabeth's hands close on her breasts and fondle them. "Such beautiful breasts."

The door opened and Anna walked in. "Don't you think Tiffany is beautiful Anna?" Anna told her yes and walked to Elizabeth who took her hand and led her to the side of the table where Tiffany could see. She held Anna's face between her hands and kisses her full lips.

How wrong can this be Tiffany thought, thinking again of her roommate and wishing they had "known" one another? She hadn't had sex since before Claude had died... had masturbated over and over thinking of him...and had masturbated over and over thinking of Miriam, her roommate. She watched the two women kiss, watched as Elizabeth pulled Anna's sweater up and over her arms, dropping it on the chair. She felt the familiar tingle between her legs and wanted to touch herself. Elizabeth unhooked the front of Anna's bra, exposing her petite, elegant breasts, which excited Tiff even more and she clamped her legs together to put some kind of pressure on her clitoris.

Elizabeth left Anna, whose full, pouting lips pursed as she watched her stand behind Tiffany again, slipping her hands under Tiff's arms and lifting her top to expose her breasts. "Show this lovely lady what you have learned Anna," Elizabeth said as she slid her fingers beneath the fabric of Tiff's bra and fondled her breasts. Anna pressed on her own breasts, moved them in opposing circles forming her luscious lips into an oval that emitted a soft 'ooo.' "Isn't she an exquisite example of a woman?" Elizabeth whispered in Tiff's ears. Her voice was husky and sensous.

Tiffany felt like she was in a gauzy dream. How could she have imagined that her sojourn to the principal's office could lead to this? But Elizabeth indicated that the problem of her children staying enrolled in Hedley Coleville could be solved and her mind was easy about that facet. But, what can she be expecting of me, she thought. In her heart she knew what Elizabeth Jones was up to. She felt like she was being blackmailed and reason railed against it. 

But reason wasn't in control and with the memory of her missed opportunity with Miriam coupled with the celibacy that had been forced by Claude's death, Tiffany Andrews, demure mother of two, watched the petite and sexy Asian play with her breasts, now rolling her nipples between her fingers her and thumbs and sighing and oohing.  She felt Elizabeth's fingers doing the same to her nipples, wondering what else would be required of her. She wasn't going to upset Elizabeth and thought, since she had been given the opportunity to save her children's education, even though the opportunity might lead her in a direction she had not been prepared to follow, she resolved that she was going to enjoy it, to show enjoyment, to please Elizabeth no matter what.

As the sensations electrified her own breasts Tiffany watched Anna undo her skirt, letting it drop to the floor. She was beautiful, her long hair draped over her left shoulder hiding the nipple of her left breast. The right breast was in full view. They were slight, probably 32A, just beyond puffies. Her nipples and areolas were dark, almost black, her dark skin against her stark white panties was stunning. She looked at Tiff and licked her luscious lips, wiggled her hips and peeled down her panties. Her pussy hair was trimmed but full...full in a way that Tiff hadn't considered. It wasn't curly like hers but soft and straight, almost silky. She desired to lay her face on Anna's mound and feel her soft fur against her cheek. 

An electric shock coursed down her spine when Elizabeth's hot breath whispered, "Have you ever seen such lovely pussy hair Tiffany?" She wanted to answer but gasped as Elizabeth's fingers squeezed her nipples. She'd never had them pinched before and they hurt...bad. She wanted to squirm free but just as she was ready to yelp her nipples became numb and her pussy seeped its warm liquid. Elizabeth released her nipples and the blood rushed back, causing pain then pleasure.

"Do you want to get on the table Anna?" Elizabeth said and Anna mouthed a silent yes, walked sensually to the table and turned. She placed her hands flat on the surface and boosted herself to sit on the edge. 

Elizabeth's lips were no more than a half-inch from her ears. "Would you like to see her pussy Tiffany?" 

Eyes saucer wide, Tiffany gulped and nodded as Anna responded to Elizabeth's cue and laid her back on the table. She pulled her legs up and placed her feet flat on the edge of the table, spreading her legs. Anna's demure lips opened with a soft click and Tiffany, expecting pink labia, was stunned to see that they matched her dark areolas. "Show us more baby," Elizabeth coaxed and Tiff gasped as Anna spread her dark labia, exposing the contrast of her bright pink vagina. "And more..." Anna lifted her legs, keeping her thumbs on her opened pussy, and spread her cheeks. Tiffany was stunned at the sight of Anna's pubic hair standing upright like black seaweed, her glistening dark (almost black) labia framed by her puffy lips, through which blazed her ruby rare cunt, punctuated by her pouting black asshole.

Tiff's breasts were now hanging free but she felt her nipples throbbing with her heartbeat. Elizabeth coaxed her arms straight up so she could peel off the garment. She dropped Tiff's bra straps over her shoulders and her bra fell to the floor. "Play with your clitoris Anna," Elizabeth commanded.

The delectably petite Asian woman placed her feet on the tabletop again, trapped her clitoris between her two middle fingers and rubbed it gently, moaning and working her legs open and closed. Her ass wriggled on the table and her moans sounded like a kitten pleading for its mother's milk. The soft wet sounds of her rubbing fingers made gentle clicks. 

"Fuck your cunt Baby," Elizabeth soothed and Anna slipped the middle finger of her right hand inside, digging against her g-spot and writhing like a snake being held down. Another finger joined in and she worked them in and out with sodden slurps. Elizabeths hands fondled Tiff's breasts. She pecked her neck with her lips and licked the rims of her ears. Tiffany squirmed in her chair, feeling her wet pussy lips slide against each other. "Have you ever eaten a woman's pussy Tiffany?" 

"No," she answered in a tremulous whisper.
